@model IEnumerable<Product>
@using System.Globalization

<form method="post">
    <br />
    <div class="backgroundWhiteBorder">
        <div class="container row">
            <div class="col -8">
                <div class="card mt-4">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Shopping Cart
                        </div>
                        @if (Model.Count() > 0)
                        {
                            <div class="col-6 text-right">
                                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row" style="color:#821f3d">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-12 col-lg-7">
                                    Product Details
                                </div>
                                <div class="col-12 col-lg-2">
                                    Price
                                </div>
                                <div class="col-6 col-sm-4 col-lg-1">
                                </div>
                            </div>
                        </div>
                        <hr />
                        @if (Model.Count() > 0)
                        {
                            @foreach (var product in Model)
                            {
                                <div class="row h-100">
                                    <div class="col-4 col-md-2 text-center py-2">
                                        <img src="@WebConstants.ImagePath@product.Image" class="rounded" width="100%" />
                                    </div>
                                    <div class="col-8 col-lg-7">
                                        <h5>@product.Name</h5>
                                        <div style="font-size:13px;">@product.ShortDescript</div>
                                    </div>
                                    <div class="col-3 col-lg-2 pt-lg-4" style="font-size:11px;">
                                        <span style="font-size:17px;">@product.Price.ToString("C0", new CultureInfo("uk-UA"))</span>
                                        <a asp-action="RemoveFromCart" asp-route-id="@product.Id" class="btn btn-outline-danger mt-5">Remove</a>
                                    </div>
                                    <div class="col-3 col-lg-1 p-0 pt-lg-3 text-center mr-1">
                                    </div>
                                </div>
                                <hr />
                            }
                        }
                        else
                        {
                            <h2 class="text-center">Oooops... It's empty here</h2>
                        }
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6 col-md-3 offset-md-9">
                                @if (Model.Count() > 0)
                                {
                                    <button type="submit" class="btn btn-success form-control ">
                                        <span>Make Order</span>
                                    </button>
                                }
                                else
                                {
                                    <div class="col-6 text-right">
                                        <a asp-action="Index" asp-controller="Home" class="btn btn-info btn-sm">Add a Product</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>