@model MyStore.Models.Product

<div class="col-lg-4 col-md-6 pb-4">
    <div class="card card-cascade card-ecommerce wider shadow mb-5 ">
        <!--Card image-->
        <div class="view view-cascade overlay text-center">
            <img class="card-img-top" src="@WebConstants.ImagePath@Model.Image" alt="@Model.Name's photo">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--Card Body-->
        <div class="card-body card-body-cascade text-center">
            <!--Card Title-->
            <h4 class="card-title">
                <strong>@Model.Name</strong>
            </h4>
            <!-- Card Description-->
            <p class="card-text">@Model.ShortDescript</p>
            <p class="text-info h5">@Model.Price ₴</p>

            <div class="col-12 p-1">
                <button type="button" class="btn btn-success">Add to Cart</button>
                <button type="button" class="btn btn-info">View Details</button>
            </div>
        </div>
        <div class="card-body px-3 row">
            <div class="col-6">
                <span class="badge p-2 border w-100" style="background-color:lavenderblush">@Model.Category.Name</span>
            </div>
            <div class="col-6">
                <span class="badge p-2 border w-100" style="background-color:aliceblue">@Model.Manufacturer.Name</span>
            </div>
        </div>
    </div>
</div>